// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        HRM: HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <10 11 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W            &kp E                &kp R             &kp T                 &kp Y                 &kp U             &kp I                 &kp O            &kp P
&HRM LEFT_META A  &HRM LEFT_ALT S  &HRM LEFT_CONTROL D  &HRM RIGHT_ALT F  &HRM LEFT_SHIFT G     &kp H                 &HRM RIGHT_ALT J  &HRM RIGHT_CONTROL K  &HRM LEFT_ALT L  &HRM RIGHT_META SEMI
&kp Z             &kp X            &kp C                &kp V             &kp B                 &kp N                 &kp M             &kp COMMA             &kp DOT          &kp FSLH
                                                        &lt 2 BACKSPACE   &mt LEFT_SHIFT TAB    &mt RIGHT_ALT RETURN  &lt 1 SPACE
            >;
        };

        right_layer {
            bindings = <
&kp INS         &kp N1  &kp N2  &kp N3  &kp LS(NUMBER_2)    &kp PAGE_UP    &kp HOME           &kp UP_ARROW      &kp END         &kp PRINTSCREEN
&kp DEL         &kp N4  &kp N5  &kp N6  &kp LS(NUMBER_3)    &kp PAGE_DOWN  &kp LEFT           &kp DOWN_ARROW    &kp RIGHT       &kp CAPSLOCK
&kp LS(DELETE)  &kp N7  &kp N8  &kp N9  &kp N0              &kp LEFT_META  &kp K_APPLICATION  &kp LS(NUMBER_1)  &kp LEFT_SHIFT  &kp LEFT_CONTROL
                                &trans  &kp ESC             &trans         &trans
            >;
        };

        left_layer {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4     &msc SCRL_UP    &mkp MB1        &mmv MOVE_UP    &mkp MB2         &trans
&trans  &kp F5  &kp F6   &kp F6   &kp F8     &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12    &trans          &msc SCRL_LEFT  &mkp MB3        &msc SCRL_RIGHT  &tog 4
                         &trans   &trans     &trans          &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };

        gameing {
            bindings = <
&kp TAB           &kp Q  &kp T  &kp D      &kp J         &kp K       &kp P         &kp SEMI  &kp L      &kp E
&kp LEFT_SHIFT    &kp A  &kp S  &kp I      &kp G         &kp M       &kp N         &kp Y     &kp SLASH  &kp H
&kp LEFT_CONTROL  &kp Z  &kp X  &kp W      &kp V         &kp B       &kp F         &kp U     &kp COMMA  &trans
                                &kp SPACE  &kp RETURN    &kp ESCAPE  &kp LEFT_ALT
            >;
        };
    };
};
